@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    :root {
        --color-background: #ede8ea;
        --color-text-light: #5E5E5E;
        --color-text-dark: #16192C;
        --color-text-red: #EF233C;
        --fill-dark: #16192C;
        --color-social: #ebebeb;
    }
    .theme-dark {
        --color-background: #16192C;
        --color-text-light: #D3DEF0;
        --color-text-dark: #ffffff;
        --color-text-red: #EF233C;
        --fill-dark: #ffffff;
        --color-social: #000000;
    }
}

html {
    scroll-behavior: smooth;
}